
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.navbar-inverse {
    background-color: #3b054aa8;
    border-color: #3a0e46a1;

}

.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 3px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #cccccc40;
    color: #633049;
}

a{
    color: #501616;
    text-decoration: none;
}

.col-md-6 {
    left: 25%;
}

